[project]
	description = A tool for making Eve schema generation easier.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Brad Bowman (beeradb)
[access "refs/for/refs/*"]
	read = group user/Brad Bowman (beeradb)
	push = group user/Brad Bowman (beeradb)
	label-Code-Review = -2..+2 group user/Brad Bowman (beeradb)
	label-Verified = -1..+1 group user/Brad Bowman (beeradb)
	rebase = group user/Brad Bowman (beeradb)
	removeReviewer = group user/Brad Bowman (beeradb)
	submit = group user/Brad Bowman (beeradb)
[access "refs/heads/*"]
	read = group user/Brad Bowman (beeradb)
	create = group user/Brad Bowman (beeradb)
	push = +force group user/Brad Bowman (beeradb)
	pushMerge = group user/Brad Bowman (beeradb)
[access "refs/tags/*"]
	push = group user/Brad Bowman (beeradb)
	push = +force group user/Brad Bowman (beeradb)
